.cards{
  width: 80%;
  margin: 0 auto;
  height: 500px;
  overflow-y: scroll;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center; 
}
.card-ticket {
  width: 100%;
  margin-bottom: 15px;
  color: black;
  height: 180px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-my-course {
  width: 100%;
  color: black;
  height: 150px;
  background: white;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.096);
  align-items: center;
}

.card-ticket .card-ticket-info p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 1px;
}
.card-ticket .card-ticket-info {
  padding: 10px;
  text-align: start;
}
.card-my-course .card-my-course-info h3 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 1px;
}
.card-my-course .card-my-course-info {
  
padding-left: 20px;
text-align: start;
}

.dashboard-container {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:%23f1f2f3;display:block;z-index:1;position:relative' width='1084' height='322' preserveAspectRatio='xMidYMid' viewBox='0 0 1084 322'%3E%3Cdefs%3E%3Cpattern id='pid-0.7273480871321358' x='0' y='0' width='325.12' height='325.12' patternUnits='userSpaceOnUse'%3E%3Cg transform='scale(1.27)'%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%2326547c' stroke='%2326547c' stroke-width='1' transform='translate(0 -85.33333333333333)'%3E%3CanimateTransform attributeName='transform' type='translate' values='256 -85.33333333333333;0 -85.33333333333333;256 -85.33333333333333' keyTimes='0;0.5;1' dur='7.142857142857142s' repeatCount='indefinite' calcMode='spline' begin='0s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%233e78ab' stroke='%233e78ab' stroke-width='1' transform='translate(0 0)'%3E%3CanimateTransform attributeName='transform' type='translate' values='0 0;256 0;0 0' keyTimes='0;0.5;1' dur='7.142857142857142s' repeatCount='indefinite' calcMode='spline' begin='-1.1904761904761905s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%23155e9d' stroke='%23155e9d' stroke-width='1' transform='translate(0 85.33333333333333)'%3E%3CanimateTransform attributeName='transform' type='translate' values='256 85.33333333333333;0 85.33333333333333;256 85.33333333333333' keyTimes='0;0.5;1' dur='7.142857142857142s' repeatCount='indefinite' calcMode='spline' begin='-2.380952380952381s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%2326547c' stroke='%2326547c' stroke-width='1' transform='translate(0 170.66666666666666)'%3E%3CanimateTransform attributeName='transform' type='translate' values='0 170.66666666666666;256 170.66666666666666;0 170.66666666666666' keyTimes='0;0.5;1' dur='7.142857142857142s' repeatCount='indefinite' calcMode='spline' begin='0s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='1084' height='322' fill='url(%23pid-0.7273480871321358)'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
}

.image_thubmnail {
  width: 25%;
  height: 100%;
  object-fit: cover;
}