 .dashboard-cards{
  z-index: 3000;
  margin: 0 auto;
  width: 85%;
  height: 600px;
  overflow-y: auto;
  border-radius: 30px;
}

.dashboard-course-section {
  padding-top: 180px;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center; 
}
.card-ticket {
  width: 100%;
  color: black;
  height: 180px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  padding: 15px;
}

.dashboard-card-course {
  width: 100%;
  color: black;
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.185)
}

.dashboard-card-course img{
  width: 20%;
  height: 50%;
  object-fit: cover;
  border-radius: 20%;
}

.dashboard-card-course .dashboard-card-course-info h3 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 1px;
}

.dashboard-card-course h4{
  text-align: left;
}
.dashboard-card-course .dashboard-card-course-info {
  
padding: 40px;
text-align: start;
}

// HERE BEGINNS THE TICKET


img {
    vertical-align: middle;
    border-style: none;
    width: 20;
    height: 134px;
    margin: 4%;
    border-radius: 30px;
  }

.card-ticket-info {
  display: flex;
  width: 40%;
}


.mentor-name h3 {
  color: black;
  text-align: left;

}

.ticket-comment {
  color: black;
  text-align: left;
}

.card-ticket .card-ticket-info p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 1px;
}
.card-ticket .card-ticket-info {
  
padding: 40px;
text-align: start;
}

.dashboard-container {
  width: 100vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;background:%23f1f2f3;display:block;z-index:1;position:relative' width='1084' height='322' preserveAspectRatio='xMidYMid' viewBox='0 0 1084 322'%3E%3Cdefs%3E%3Cpattern id='pid-0.15248812432219316' x='0' y='0' width='156.16' height='156.16' patternUnits='userSpaceOnUse'%3E%3Cg transform='scale(0.61)'%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%233d78ab' stroke='%233d78ab' stroke-width='1' transform='translate(0 -85.33333333333333)'%3E%3CanimateTransform attributeName='transform' type='translate' values='256 -85.33333333333333;0 -85.33333333333333;256 -85.33333333333333' keyTimes='0;0.5;1' dur='8.333333333333334s' repeatCount='indefinite' calcMode='spline' begin='0s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%23145f9c' stroke='%23145f9c' stroke-width='1' transform='translate(0 0)'%3E%3CanimateTransform attributeName='transform' type='translate' values='0 0;256 0;0 0' keyTimes='0;0.5;1' dur='8.333333333333334s' repeatCount='indefinite' calcMode='spline' begin='-1.3888888888888888s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%2326547c' stroke='%2326547c' stroke-width='1' transform='translate(0 85.33333333333333)'%3E%3CanimateTransform attributeName='transform' type='translate' values='256 85.33333333333333;0 85.33333333333333;256 85.33333333333333' keyTimes='0;0.5;1' dur='8.333333333333334s' repeatCount='indefinite' calcMode='spline' begin='-2.7777777777777777s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3Cpath d='M -256 19.066666666666666 C -192 19.066666666666666 -192 2 -128 2 C -64 2 -64 19.066666666666666 2 19.066666666666666 C 64 19.066666666666666 64 2 128 2 C 192 2 192 19.066666666666666 256 19.066666666666666 L 384 384 L -384 384 L -384 19.066666666666666 Z' fill='%233d78ab' stroke='%233d78ab' stroke-width='1' transform='translate(0 170.66666666666666)'%3E%3CanimateTransform attributeName='transform' type='translate' values='0 170.66666666666666;256 170.66666666666666;0 170.66666666666666' keyTimes='0;0.5;1' dur='8.333333333333334s' repeatCount='indefinite' calcMode='spline' begin='0s' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/path%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='1084' height='322' fill='url(%23pid-0.15248812432219316)'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
}
