<%= render 'shared/navbar' %>

<div class="col-9">
    <div class="language-cards">
      <% @languages.each do|language|%>
      <%= link_to language_path(language) do %>
        <div class="language-card-category" style="height:150px;background-position:center;background-size: cover;background-image: url(<%= image_path language.image_url %>)">
          
        </div>
      <%end  %>
      <% end %>
    </div>