<%= render 'shared/navbar' %>

<div class="col-9">
    <div class="language-cards">
      <% @languages.each do|language|%>
        <div class="language-card-category">
          <div class="card-language-info ">
            <h2><%=link_to language.name, language_path(language)%></h2>
          </div>
        </div>
      <% end %>
    </div>