<div class="navbar">
    <div class="navbar-logo">
        <img src="https://cdn.worldvectorlogo.com/logos/relay.svg" alt="Random logo">
        <span>RELEVE.DEV</span>
    </div>

    <div class="navbar-content">
        <% if current_user.present? %>
            <%= link_to  "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-label'%>
        <% else %>
            <%= link_to  "Sign in", new_user_session_path, class: 'navbar-label' %>
        <%end%>
    </div>
</div>