 <div class="card-user-courses">
 <% current_user.courses.each do |course|%>
   <h2><%= course.name %></h2>
   <% end %>
 </div>

 <div class="card-user-tickets"> 
 <% current_user.tickets.each do |ticket|%>
   <h2><%= ticket.comment %></h2>
   <% end %>
  </div>
  