<div class="review-card">
  <img src="http://newstatesman.com/sites/default/files/blogs_2020/10/borat-2.jpg">
  <div class="review-card-info">
    <h2>Toto Behr</h2>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    <p>Hello, this app is really usfull, I learned so much in such a sort time and it was all basically for free</p>
    <h2>Importance given</h2>
  </div>
</div>

