<h2>hello</h2>
<%= render 'enrolments/new'%>
<%=link_to 'Your courses', dashboard_path  %>


<div class="reviews">
  <div class="review-card">
    <div class="img">
    <img src="http://newstatesman.com/sites/default/files/blogs_2020/10/borat-2.jpg">
    </div>
    <div class="review-card-info">
      <h2>Toto Behr</h2>
      <div class="rating">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
      </div>
        <p>Hello, this app is really usfull, I learned so much in such a sort time and it was all basically for free</p>
        <div class="importance">
      <p>Importance given:</p>
      </div>
    </div>
  </div>
</div>
