.btn {
    display: inline-block;
    text-align: center;
    background: #EF476F;
    color: white;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
    }

.btn:before,
.btn:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: #EF476F;
  border-radius: 50%;
  transition: transform 0.8s ease;
  transform: scale(0);
  z-index: -1;
  text-decoration: none;
}

.btn:before {
  top: -25%;
  left: 20%;
}

.btn:after {
  bottom: -25%;
  right: 20%;
}

.btn:hover:before,
.btn:hover:after {
  transform: none;
}

.btn:hover {
  color: white;
}

.navbar-label {
  border: 1px solid black;
  text-align: center;
  margin: 0 2px;
  padding: 10px 15px;
  border-radius: 30px;
  color: black;
}

.navbar-label:hover {
  border: 1px solid #ED3B65;
  background-color: #ED3B65;
  color: white;
  transition: all ease-in 0.3s;
}
.new_enrolment{
  text-align: center;
}
.green-button {
  font-weight: 600;
  text-align: center;
  background-color: #06D6A0;
  border-radius: 40px;
  box-shadow: 0 0 10px #06d69e81;
  border: 2px solid #06D6A0;
}

.green-button:hover {
  transition: all 0.3s;
  border: 2px solid #06D6A0;
  background: transparent;
  color: #06D6A0;
}

.white-button {
  margin-top: 10px;
  color: #ED3B65;
  border-radius: 30px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: white;
  text-align: center;
}

.white-button:hover {
  background-color: transparent;
  color: white;
  transition: all ease-in-out 0.4s;
}
